# Chave API do Google (Gemini)
GOOGLE_API_KEY=sua-chave-aqui

# Caminho para o executável do PMD
PMD_CMD=bin/pmd-bin-7.24.0/bin/pmd

# Caminho para o executável do CheckStyle
CHECKSTYLE_CMD=bin/checkstyle/checkstyle-10.12.7-all.jar