# Chave API do Google (Gemini)
GOOGLE_API_KEY=sua-chave-aqui

# Caminho para o executável do PMD
PMD_CMD=bin/pmd-bin-7.24.0/bin/pmd

# Caminho para o executável do CheckStyle
CHECKSTYLE_CMD=bin/checkstyle/checkstyle-10.12.7-all.jar

# Caminho para o executável do SpotBugs (Opcional, pois baixa automaticamente)
SPOTBUGS_CMD=bin/spotbugs-4.8.6/bin/spotbugs

# Modelo utilizado pelos agentes (ex: gemini-3.1-flash-lite, gemini-3.5-flash)
REVIEW_MODEL=gemini-3.1-flash-lite